--
hostname {{ item.hostname }}
{% if item.enable_secret is defined and item.enable_secret | length > 0  %}
enable secret 0 {{ item.enable_secret }}
{% else %}
{% endif %}
{% if item.username is defined and item.password is defined and item.username | length > 0 and item.password | length > 0  %}
username {{ item.username }} privilege 15 secret 0 {{ item.password }}
{% else %}
{% endif %}
{% if item.aaa_new_model is defined and item.aaa_new_model == "yes"  %}
aaa new-model
{% else %}
{% endif %}
{% if item.clock_timezone is defined and item.clock_timezone | length > 0 %}
clock timezone {{ item.clock_timezone }}
{% else %}
{% endif %}
{% if item.ip_domain_name is defined and item.ip_domain_name | length > 0 %}
ip domain-name {{ item.ip_domain_name }}
{% else %}
{% endif %}

{% if item.vtp_domain is defined and item.vtp_domain | length > 0 %}
vtp domain {{ item.vtp_domain }}
{% else %}
{% endif %}
{% if item.vtp_mode_transparent is defined and item.vtp_mode_transparent | length > 0 %}
vtp mode {{ item.vtp_mode_transparent }}
{% else %}
{% endif %}
!
{% if item.spanning_tree_mode is defined and item.spanning_tree_mode == "rapid" %}
spanning-tree mode rapid-pvst
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "mst" %}
spanning-tree mode mst
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "pvst" %}
spanning-tree mode pvst
{% else %}
{% endif %}
{% if item.spanning_tree_vlan is defined and item.spanning_tree_vlan_priority is defined and item.spanning_tree_vlan | length > 0 and item.spanning_tree_vlan_priority | length > 0 %}
spanning-tree vlan {{ item.spanning_tree_vlan }} priority {{ item.spanning_tree_vlan_priority }}
{% else %}
{% endif %}
!
{% if item.flow_exporter is defined and item.flow_exporter | length > 0 %}
flow flow_exporter {{ item.flow_exporter }}
{% else %}
{% endif %}
{% if item.flow_dest is defined and item.flow_dest | length > 0 %}
destination {{ item.flow_dest }}
{% else %}
{% endif %}
{% if item.flow_src is defined and item.flow_src | length > 0 %}
source {{ item.flow_src }}
{% else %}
{% endif %}
{% if item.flow_protocol is defined and item.flow_port is defined and item.flow_protocol | length > 0 and item.flow_port | length > 0 %}
transport {{ item.flow_protocol }} {{ item.flow_port }}
{% else %}
{% endif %}
{% if item.flow_timeout is defined and item.flow_timeout | length > 0 %}
option exporter-stats timeout {{ item.flow_timeout }}
{% else %}
{% endif %}



snmp-server location {{ item.snmp_location }}
