--
hostname {{ item.hostname }}
{% if item.enable_secret is defined and item.enable_secret | length > 0  %}
enable secret 0 {{ item.enable_secret }}
{% else %}
{% endif %}
{% if item.username is defined and item.password is defined and item.username | length > 0 and item.password | length > 0  %}
username {{ item.username }} privilege 15 secret 0 {{ item.password }}
{% else %}
{% endif %}
{% if item.aaa_new_model is defined and item.aaa_new_model == "yes"  %}
aaa new-model
{% else %}
{% endif %}
{% if item.clock_timezone is defined and item.clock_timezone | length > 0 %}
clock timezone {{ item.clock_timezone }}
{% else %}
{% endif %}
{% if item.ip_domain_name is defined and item.ip_domain_name | length > 0 %}
ip domain-name {{ item.ip_domain_name }}
{% else %}
{% endif %}
{% if item.vtp_domain is defined and item.vtp_domain | length > 0 %}
vtp domain {{ item.vtp_domain }}
{% else %}
{% endif %}
{% if item.vtp_mode_transparent is defined and item.vtp_mode_transparent | length > 0 %}
vtp mode {{ item.vtp_mode_transparent }}
{% else %}
{% endif %}
{% if item.spanning_tree_mode is defined and item.spanning_tree_mode == "rapid" %}
spanning-tree mode rapid-pvst
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "mst" %}
spanning-tree mode mst
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "pvst" %}
spanning-tree mode pvst
{% else %}
{% endif %}
{% if item.spanning_tree_vlan is defined and item.spanning_tree_vlan_priority is defined and item.spanning_tree_vlan | length > 0 and item.spanning_tree_vlan_priority | length > 0 %}
spanning-tree vlan {{ item.spanning_tree_vlan }} priority {{ item.spanning_tree_vlan_priority }}
{% else %}
{% endif %}
{% if item.flow_exporter_name is defined and item.flow_exporter_name | length > 0 %}
flow exporter {{ item.flow_exporter_name }}
{% else %}
{% endif %}
{% if item.flow_exporter_dest is defined and item.flow_exporter_dest | length > 0 %}
destination {{ item.flow_exporter_dest }}
{% else %}
{% endif %}
{% if item.flow_exporter_src is defined and item.flow_exporter_src | length > 0 %}
source {{ item.flow_exporter_src }}
{% else %}
{% endif %}
{% if item.flow_exporter_protocol is defined and item.flow_exporter_port is defined and item.flow_exporter_protocol | length > 0 and item.flow_exporter_port | length > 0 %}
transport {{ item.flow_exporter_protocol }} {{ item.flow_exporter_port }}
{% else %}
{% endif %}
{% if item.flow_exporter_timeout is defined and item.flow_exporter_timeout | length > 0 %}
option exporter-stats timeout {{ item.flow_exporter_timeout }}
{% else %}
{% endif %}
{% if item.flow_monitor_name is defined and item.flow_monitor_name | length > 0 %}
flow monitor {{ item.flow_monitor_name }}
{% else %}
{% endif %}
{% if item.flow_monitor_exporter is defined and item.flow_monitor_exporter | length > 0 %}
exporter {{ item.flow_monitor_exporter }}
{% else %}
{% endif %}
{% if item.flow_monitor_record is defined and item.flow_monitor_record | length > 0 %}
record {{ item.flow_monitor_record }}
{% else %}
{% endif %}
{% if item.flow_monitor_record is defined and item.flow_monitor_record | length > 0 %}
record {{ item.flow_monitor_record }}
{% else %}
{% endif %}
{% if item.eigrp_process_id is defined and item.eigrp_process_id | length > 0 %}
router eigrp {{ item.eigrp_process_id }}
!
{% else %}
{% endif %}
{% if item.eigrp_ipv4_autonomous_id is defined and item.eigrp_ipv4_autonomous_id | length > 0 %}
address-family ipv4 unicast autonomous-system {{ item.eigrp_ipv4_autonomous_id }}
{% else %}
{% endif %}
{% if item.eigrp_authentication_mode is defined and item.eigrp_authentication_mode == "md5" %}
af-interface default
authentication mode md5
{% elif item.eigrp_authentication_mode is defined and item.eigrp_authentication_mode != "md5" %}
af-interface default
authentication mode hmac-sha-256 0 {{ item.eigrp_authentication_mode }}
authentication key-chain eigrp-key
passive-interface
exit-af-interface
{% endif %}
{% if item.ip_http_server is defined and item.ip_http_server == "yes" %}
ip http server
{% elif item.ip_http_server is defined and item.ip_http_server == "no" %}
no ip http server
{% endif %}
{% if item.ip_http_secure_server is defined and item.ip_http_secure_server == "yes" %}
ip http secure server
{% elif item.ip_http_secure_server is defined and item.ip_http_secure_server == "no" %}
no ip http secure server
{% endif %}
{% if item.ip_pim_rp_address is defined and item.ip_pim_rp_address | length > 0 %}
ip pim rp-address {{ item.ip_pim_rp_address }}
{% else %}
{% endif %}
